body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
}

.banner {
	margin: 0;
	background-color: #526F35;
	color: white;
	padding-left: 8px;
	padding-top: 8px;
}

.content {
	margin: 0;
	padding: 8px;
}

.leagues-about {
	margin-top: 8px;
	padding: 4px;
	border: 1px solid #526F35;
}

.nav-btn {
	background-color: white;
	color: #526F35;
}

.active-btn {
	background-color: #526F35;
	color: white;
}
