header {
	display: inline-block;
  width: 100%;
  height: 40px;
  color: white;
  background-color: #526f35; /* Green color */
  padding: 4px;
}

.sillyseason {
	font-size: 20px;
  line-height: 40px;
  vertical-align: center
}

.logout {
  cursor: pointer;
  text-decoration: none;
  color: white;
  float: right;
  font-size: 14px;
  line-height: 40px;
  padding-left: 4px;
}