<header class="login">
    <span class="sillyseason">
      Silly Season
      <a class="signup" (click)="onCreateTeam()" id="create-team">Create Team</a>
    </span>
    <form role="form" (submit)="onSignIn($event, email.value, password.value)">
      <input type="text" id="email" #email placeholder="Email">
      <input type="text" id="password" #password placeholder="Password">
      <button class="login-btn" type="submit">Sign In</button>
    </form>
</header>
<div>
  <br>
</div>
<div class="">
  <nav class="leagues-about-nav">
    <button class="nav-btn" [class.active-btn]="leagueOrAbout !== 'about'" (click)="onLeagueOrAbout('leagues')">Leagues</button>
    <button class="nav-btn" [class.active-btn]="leagueOrAbout === 'about'" (click)="onLeagueOrAbout('about')">About</button>
  </nav>
  <div class="leagues-about">
    <ss-leagues *ngIf="leagueOrAbout !== 'about'"></ss-leagues>
    <ss-about *ngIf="leagueOrAbout === 'about'"></ss-about>
  </div>
</div>

