<h3 class="leagues-about-title">Silly Season Fantasy Leagues</h3>
<div class="list">
	<ul>
		<li *ngFor="#league of leagues" (click)="onSelectLeague(league.league.id)">
			<b>{{league.league.league_name}}</b>
			<br>{{league.teams}} {{league.teams > 1 ? "Teams" : "Team"}}, Created by {{league.owner.name}}
			<table [style.display]="selectedLeague === league.league.id ? 'block' : 'none'" class="leagueTable">
				<tr class="table-headers">
					<th>Team</th>
					<th>Manager</th>
					<th>Pts</th>
					<th>GW</th>
					<th>In the Bank<br>
						Team Value</th>
				</tr>
				<tr *ngFor="#team of league.users | orderby: '-totpoints'">
					<td class="table-string"><b>{{team.team_name}}</b></td>
					<td class="table-string">{{team.name}}</td>
					<td class="table-number"><b>{{team.totpoints}}</b></td>
					<td class="table-number">{{team.gwpoints}}</td>
					<td class="table-number">
						{{team.money | currency:'GBP':true:'4.0-0'}}<br>
						{{team.playervalue | currency:'GBP':true:'4.0-0'}}
					</td>
				</tr>
			</table>
		</li>
	</ul>
</div>

